name: genesis-case-task-prod

services:
  genesis-node-prod:
    container_name: genesis-node-prod
    env_file: .env
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - '${APP_PORT}:${APP_PORT}'
    command: sh -c "npm install  && npm run build && npm run start:dev"
    networks:
      - app-network

  genesis-postgres-prod:
    container_name: genesis-postgres-prod
    image: postgres:16.3
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d/
      - ./db/data:/var/lib/postgresql/data
    entrypoint: >
      sh -c "chmod +x /docker-entrypoint-initdb.d/init-db.sh && exec docker-entrypoint.sh postgres"
    ports:
      - "${POSTGRES_PORT}:5432"
    env_file: .env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: {}